import os.path
from os.path import join as pjoin
from glob import glob

# BASE_PATH = "/home/tom/projects/babel_data"
# HAS_TORQUE = False
# RUN_ASR = False
# RUN_KWS = False
# EXPANSION_SIZES = []
# EXPANSION_WEIGHTS = []

LANGUAGES = {}
for name, id, skip_roman, acoustic_weight, locale, phoneme_swap in [
    #("cantonese", 101, True, None, None, {}),
    #("assamese", 102, True, 0.09, "as_IN.utf8", {}),
    #("bengali", 103, False, None, None, {}),
    #("pashto", 104, False, None, None, {}),
    #("turkish", 105, False, None, None, {}),
    #("tagalog", 106, False, 0.13, "tl_PH.utf8", {}), 
    #("vietnamese", 107, True, None, None, {}), 
    #("haitian_creole", 201, False, None, None, {}),    
    #("zulu", 206, False, .053, None, {"3" : "E"}),    
    ]:

    LANGUAGES[name] = {        
        "LANGUAGE_ID" : id,
        "SKIP_ROMAN" : skip_roman,
        "LOCALE" : locale,
        "ACOUSTIC_WEIGHT" : acoustic_weight,
        "PHONEME_SWAP" : phoneme_swap,
        }
